<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thymeleaf 예제</title>
</head>
<body>
<h1>Thymeleaf 예제</h1>
<form method = "post" action ="/updateUser">
	<table border=1>
		<tr>
	        <td>User ID : </td>
	        <td>
	            <input type="text" name="userId" th:value="${user.userId}" placeholder="User ID를 입력하세요">
	        </td>
	    </tr>
	    <tr>
	        <td>User Name : </td>
	        <td>
	            <input type="text" name="name" th:value="${user.name}" placeholder="User Name를 입력하세요">
	        </td>
    	</tr>
	    <tr>
	        <td>User Age : </td>
	        <td>
	            <input type="text" name="age" th:value="${user.age}" placeholder="User Age를 입력하세요">
	        </td>
	    </tr>
	</table>
	            
    <input type = "submit" value= "Click"/>
</form>

</body>
</html>
